extends layouts/mainLayout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
     main
        if prods.length > 0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card-header
                                h1.product-title #{product.title}
                            .card-image
                                img(src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fpngimg.com%2Fuploads%2Fbook%2Fbook_PNG2114.png&f=1", alt="A book")

                            .card-content
                                h2.product-price $19.99
                                p.product-description A very interesting book about so many events
                            
                            .card-actions
                                button.btn Add to Cart

        else 
            h1 No Products
            
